main {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../content/koenigsegg_jesko_car_2_4k_hd_cars.jpg);
  background-size: cover;
}
.car-model-name {
  width: 40vw;
  height: 20vh;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 6rem;
}

.test {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.test2 {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
}
