.frontpanel {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../content/koenigsegg_jesko_car_2_4k_hd_cars.jpg);
  background-size: cover;
}
.frontpanel .overlay {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.frontpanel .overlay .content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.frontpanel .overlay .content span {
  font-size: 2rem;
}
.frontpanel .overlay .content img {
  height: 6rem;
}
.frontpanel .overlay .content .button {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms;
  text-decoration: none;
  color: black;
}
.frontpanel .overlay .content .button:hover{
  background-color: #b3b3b3;
  cursor: pointer;
}
