.description-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
  text-align: center;
  gap: 3rem;
}
.description-span {
  font-size: 1.5rem;
}
.description-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.description-links a {
  width: 400px;
  height: 500px;
  color: #fff;
  margin: 1rem;
  text-decoration: none;
}
#cars {
  background-image: url("../content/porsche-link.png");
  background-size: contain;
}
#about {
  background-image: url("../content/about-link.png");
  background-size: cover;
}
.description-links a .overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.description-links a .overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.description-links a .overlay .content {
  height: 15%;
  width: 100%;
  text-align: left;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description-links a .title {
  font-size: 1.1rem;
}
