.car {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.car .model {
  width: 40%;
  height: 20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 5%;
}
.car .span-name {
  font-size: 4rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 1px 1px #00000050;
}
.car .span-model {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 1px 1px #00000050;
}
.car .span-year {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-shadow: 1px 1px #00000050;
}
.car .button {
  width: 150px;
  height: 40px;
  background-color: #ffffff00;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  transition: background-color 300ms;
  text-decoration: none;
}
.car .button-absolut {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.car .spec {
  height: 95vh;
  width: 35%;
  background-color: #1e1e1ecc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.car .spec .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 65%;
  font-size: 1.3rem;
}
.car .spec .content div {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.car .spec .content div span {
  font-weight: 500;
}
.car .spec .content div .placeholder {
  font-weight: 300;
}
.car .hidden {
  display: none;
}

.car .button:hover {
  background-color: #b3b3b3;
  cursor: pointer;
}
.reservation {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.reservation .calendar {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
