.navbar {
  background-color: #1e1e1eb3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}
.navbar nav {
  margin: auto;
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar nav a {
  color: #ffffff;
  text-decoration: none;
  border: solid 1px #ffffff00;
  transition: border-bottom 200ms;
}
.navbar nav .links a:hover {
  border-bottom: #ffffff solid 1px;
}
.navbar nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
