header {
  background-image: linear-gradient(#202020, #00000000);
}
nav {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 4rem;
  border-bottom: solid 1px #ffffff;
  /* background-color: #ffffff; */
}
nav a {
  color: #ffffff;
  text-decoration: none;
  border: solid 1px #ffffff00;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
.links a:hover {
  border-bottom: #ffffff solid 1px;
}
