header {
  background-color: rgba(29, 29, 29, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
nav {
  margin: auto;
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  border: solid 1px #ffffff00;
  transition: border-bottom 200ms;
}
.links a:hover {
  border-bottom: #ffffff solid 1px;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
