nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5rem;
  background-image: linear-gradient(#000000, #00000000);
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
.links a {
  text-decoration: none;
  color: #ffffff;
}
