header{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../content/sports-car-futuristic-mountain-sunset-scenery-digital-art-4k-wallpaper-uhdpaper.com-537@0@i.jpg);
    background-size: cover;
}