.calendar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.form form label {
  font-size: 20px;
}
.form form input {
  height: 40px;
  width: 400px;
  text-decoration: none;
  background-color: #333333;
  border: none;
  color: #fff;
}
.form form button {
  height: 30px;
  width: 60px;
  text-decoration: none;
}

.datepicker {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.datepicker .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 500px;
}

.datepicker .header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
}

.datepicker .header button:hover {
  color: #797979;
}

.datepicker .days {
  display: grid;
  gap: 50px;
  grid-template-rows: 30px;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
}

.datepicker .days button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepicker .days div {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datepicker .days .day:hover {
  color: #ff0000;
}

.datepicker .days .today {
  color: #ff0000;
}

.datepicker .days .black {
  color: #797979;
}
.datepicker .days .blue {
  color: #0051ff;
}
.datepicker .days .purple {
  color: blueviolet;
}
