.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 500px;
}

.calendar .header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
}

.calendar .header button:hover {
  color: rgb(121, 121, 121);
}

.calendar .days {
  display: grid;
  gap: 50px;
  grid-template-rows: 30px;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
}

.calendar .days button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .days div {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .days .today {
  color: rgb(255, 0, 0);
}

.calendar .days .black {
  color: rgb(121, 121, 121);
}
